.add-expense-item {
  background-color: #222222;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.add-expense-item button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #432100;
  background-color: #999990;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.add-expense-item button:hover,
.add-expense-item button:active {
  background-color: #999909;
  border-color: #111100;
}

.add-expense-item button.alternative {
  color: #339900;
  border-color: transparent;
  background-color: transparent;
}

.add-expense-item button.alternative:hover,
.add-expense-item button.alternative:active {
  background-color: #ddb300;
}
